
<h2>Liste des contacts</h2>
<form method="post" action="Index">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" name="Filter" class="form-control" value=@ViewBag.Filter />
                <span class="input-group-btn">
                    <button class="btn btn-default" value="Submit" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</form>
<br/>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <tr>
                <td>
                    Prénom
                </td>
                <td>
                    Nom
                </td>
                <td>
                    Email
                </td>
                <td>
                    Téléphone
                </td>
            </tr>
            @foreach (var item in @ViewBag.List)
            {
                <tr>
                    <td>
                        @(item.FirstName)
                    </td>
                    <td>
                        @(item.LastName)
                    </td>
                    <td>
                        @(item.Email)
                    </td>
                    <td>
                        @(item.Phone)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>